article.tweet {
  border: 0.1em solid black;
  display: flex;
  flex-direction: column;
  margin-top: 1.5em;

  header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    align-items: center;
    font-weight: 300;

    div {
      display: flex;
      align-items: center;
    }
  
    img {
      height: 2em;
      padding-right: 0.5em;
    }
  }

  .handle {
    display: none;
    color: #c6c6c6
  }

  p {
    padding-left: 2em;
    padding-right: 2em;
    border-bottom: 4px solid black;
    padding-bottom: 1em;
    margin: 0.5em;
    overflow-wrap: anywhere;
  }

  footer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
    font-weight: 300;
    font-size: 0.66em;
  }
}

article .tweet-actions img {
  display: none;
  height: 1em;
  padding-left: 3px;
}

/* Hover actions */
article.tweet:hover {
  box-shadow: 6px 6px 8px #747474;

  footer {
    font-weight: 400;
  }

  header div {
    font-weight: 400;
  }

  .handle {
    display: flex;
  }

  .tweet-actions img {
    display: inline-block;
  }
}