/* Set nav padding to (100 - body font size) / 2 */
nav {
  background-color: #4056A1;
  color: #ffffff;
  height: 100px;
  padding: 38px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
}

nav #tweeter-logo {
  font-family: 'Bungee', cursive;
}

#navbar-right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#navbar-right-side img {
  height: 24px;
  transition: transform 0.1s;
}

#navbar-right-side img:hover {
  transform: scale(1.4);
}