.new-tweet {
  display: none;
}

#tweet-text {
  width: 100%;
  border: none;
  border-bottom: 4px solid black;
  background-color: inherit;
  resize: none;
  padding-top: 24px;
  padding: 12px;
}


.new-tweet form {
  width: 100%;
  font-weight: 700;
}

#tweet-validation-msg {
  font-weight: 300;
  color: #ff0033;
  font-size: 20px;
  padding-top: 12px;
  padding-left: 12px;
  font-style: italic;
}

.new-tweet form footer {
  font-family: 'Bungee', cursive;
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
}

.new-tweet button {
  color: #fff;
  background-color: #4056A1;
  padding-left: 8px;
  padding-right: 8px;
}

#tweet-text:focus, .new-tweet button:focus {
  outline: none;
}