article.tweet {
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  margin-top: 36px;
}

article.tweet header {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  align-items: center;
  font-weight: 300;
}

article.tweet header div {
  display: flex;
  align-items: center;
}

article.tweet header img {
  height: 48px;
  padding-right: 12px;
}

article.tweet .handle {
  display: none;
  color: #c6c6c6
}

article.tweet p {
  padding-left: 24px;
  padding-right: 24px;
  border-bottom: 4px solid black;
  padding-bottom: 24px;
  margin: 12px;
  overflow-wrap: anywhere;
}

article.tweet footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
  padding-left: 48px;
  padding-right: 48px;
  font-weight: 300;
  font-size: 16px;
}

article.tweet footer img {
  height: 24px;
  padding-left: 3px;
}

/* Hover actions */
article.tweet:hover {
  box-shadow: 6px 6px 8px #747474;
}

article.tweet:hover footer {
  font-weight: 400;
}

article.tweet:hover header div {
  font-weight: 400;
}

article.tweet:hover .handle {
  display: flex;
}